.page-wrapper{
  width: 100%;
  height: 100vh;
  background-color: rgb(170, 232, 235);
  display: flex;
  align-items: center;
  justify-content: center;
}
.button{
  color:#fff;
	background-color:#1a5e55;
	outline: none;
  border: 0;
  color: #fff;
	padding:10px 20px;
	text-transform:uppercase;
	margin-top:20px;
	border-radius:2px;
	cursor:pointer;
	position:relative;
}
.popup-page-wrapper{
  position: fixed;
  z-index: 1; 
  width: 100%;
  height: 100vh;
  background-color: rgba(0,0,0,0.5); 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
